body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u1 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:40px;
  width:483px;
  height:82px;
  font-size:72px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:82px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:570px;
  top:13px;
  width:137px;
  height:137px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:137px;
}
#u5 {
  position:absolute;
  left:2px;
  top:60px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:575px;
  top:18px;
  width:127px;
  height:127px;
  color:#333333;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:127px;
}
#u7 {
  position:absolute;
  left:2px;
  top:56px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:160px;
  width:720px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:703px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:3px;
  width:720px;
  height:4px;
}
#u9 {
  position:absolute;
  left:40px;
  top:200px;
  width:640px;
  height:1040px;
  font-size:48px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1040px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  word-wrap:break-word;
}
